<div class="wrap">
    <div class="item">
        <img src="https://picsum.photos/300/300?random=10">
        <div class="txt">
            <h2>
                CSS人物介紹卡片
            </h2>
            <p>
                介紹文字等...一嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
            </p>
        </div>
        
    </div>
    <div class="item">
        <img src="https://picsum.photos/300/300?random=20">
        <div class="txt">
            <h2>
                CSS人物介紹卡片
            </h2>
            <p>
                介紹文字等...一嘗段的巴拉巴拉拉阿拉，一嘗段的
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉巴拉巴拉拉阿拉
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
            </p>
        </div>
    </div>
    <div class="item">
        <img src="https://picsum.photos/300/300?random=30">
        <div class="txt">
            <h2>
                CSS人物介紹卡片
            </h2>
            <p>
                介紹文字等...一嘗段的巴拉巴拉拉阿拉，一嘗
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉段的巴拉巴拉拉阿拉
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
                嘗段的巴拉巴拉拉阿拉，一嘗段的巴拉巴拉拉阿拉
            </p>
        </div>
    </div>
</div>