.wrap{
    width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
    flex-direction: row;
    height: 100%;
    background-color: #003;
}

.wrap .item {
    width: 100%;
    text-align: center;
    padding-top: 12px;
    /* margin-top: 24px; */
    margin: 30px;
    transition: .5s;
    color: rgb(202, 153, 62);
    background-color: rgb(243, 244, 245);
}

.wrap .item:hover {
    transform: translateY(-100px);
    background-color: rgb(223, 150, 54);
    color: black;    
}

.item .txt{
    position: relative;
}

.item .txt::before{
    content: "";
    width: 0;
    height: 0;
    left: 0;
    top:0;
    position: absolute;
    transform: translateY(-75px);
    border-top: 50px solid transparent;
    border-left: 170px solid #fff;
    border-right: 170px solid #fff;
    transition: .5s;
}

.item .txt h2{
    border-bottom: 1px solid #ccc;
}

.item:hover .txt::before{
    border-left: 170px solid rgb(223, 150, 54);
    border-right: 170px solid rgb(223, 150, 54);
}




