<div class="wrap">
    <div class="item">
        <div class="icon">
            <fa-icon [icon]="faCoffee"></fa-icon>
        </div>
        <div class="txt">
            <h2>金魚入門</h2>
            <p>
                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
            </p>
        </div>
    </div>
    <div class="item">
        <div class="icon">
            <fa-icon [icon]="faCoffee"></fa-icon>
        </div>
        <div class="txt">
            <h2>金魚入門</h2>
            <p>
                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
            </p>
        </div>
    </div>
    <div class="item">
        <div class="icon">
            <fa-icon [icon]="faCoffee"></fa-icon>
        </div>
        <div class="txt">
            <h2>金魚入門</h2>
            <p>
                金魚切版教學，第                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
                金魚切版教學，第十一天+++++++++++++++
                十一天
            </p>
        </div>
    </div>
</div>