.wrap{
    height: 100%;
    margin: auto;
    display: flex;
}

.item{
    width: 370px;
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #ccc;
    margin: auto;
    align-items: center;
    border: 10px solid #f9cec2;
}

.item:hover .icon{
 animation:  shake .3s linear infinite alternate;
}

.item .icon{
    margin: -75px auto 0;
    width: 150px;
    height: 150px;
}

.item .icon fa-icon{
    font-size: 55px;
    line-height: 150px;
}

@keyframes shake{
    0%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotate(30deg);
    }
}