<div class="wrap">
    <input type="checkbox" id="menu-switch">

    <div class="sidemenu">
        <form>
            <input type="search">
            <fa-icon [icon]="faCoffee"></fa-icon>
        </form>

        <ul class="nav">
            <li>
                <a href="">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    鐵人賽
                </a>
                <ul>
                    <li>
                        <a href="">
                            DAY1
                        </a>
                        <ul>
                            <li>
                                <a href="">
                              DAY4
                          </a>
                            </li>
                            <li>
                                <a href="">
                              DAY5
                          </a>
                            </li>
                            <li>
                                <a href="">
                              DAY6
                          </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="">
                            DAY2
                        </a>
                    </li>
                    <li>
                        <a href="">
                            DAY3
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    暴力班
                </a>
            </li>
            <li>

                <a href="">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    RWD
                </a>
            </li>
            <li>
                <a href="">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    金魚網頁
                </a>
            </li>
            <li>

                <a href="">
                    <fa-icon [icon]="faCoffee"></fa-icon>
                    金魚切版
                </a>
            </li>


        </ul>
        <label for="menu-switch">
      >
    </label>
    </div>
</div>
