<div class="wrap">
    <div class="container">
        <div class="pic">
            <img src="https://picsum.photos/600/300?random=10">
        </div>
        <div class="text">
            <h2>金魚都能懂得網頁入門</h2>
            <p>
                網頁入門基本教學第五天之超通用橫式版面
            </p>
        </div>
    </div>
    <div class="container">
        <div class="pic">
            <img src="https://picsum.photos/600/300?random=20">
        </div>
        <div class="text">
            <h2>金魚都能懂得網頁入門</h2>
            <p>
                網頁入門基本教學第五天之超通用橫式版面
            </p>
        </div>
    </div>
    <div class="container">
        <div class="pic">
            <img src="https://picsum.photos/600/300?random=30">
        </div>
        <div class="text">
            <h2>金魚都能懂得網頁入門</h2>
            <p>
                網頁入門基本教學第五天之超通用橫式版面
            </p>
        </div>
    </div>
</div>