<div class="wrap">
    <div class="item">
        <div class="pic">
            <img  src="https://picsum.photos/600/300?random=10">
        </div>
        <div class="text">
            <h2>
                交錯漂浮版第一區塊
            </h2>
            <p>
                文字敘述...
            </p>
        </div>
    </div>
    <div class="item">
        
        <div class="text">
            <h2>
                交錯漂浮版第二區塊
            </h2>
            <p>
                文字敘述...
            </p>
        </div>
        <div class="pic">
            <img  src="https://picsum.photos/600/300?random=20">
        </div>
    </div>
    <div class="item">
        <div class="pic">
            <img  src="https://picsum.photos/600/300?random=30">
        </div>
        <div class="text">
            <h2>
                交錯漂浮版第三區塊
            </h2>
            <p>
                文字敘述...
            </p>
        </div>
    </div>
    <div class="item">
       
        <div class="text">
            <h2>
                交錯漂浮版第四區塊
            </h2>
            <p>
                文字敘述...
            </p>
        </div>
        <div class="pic">
            <img  src="https://picsum.photos/600/300?random=40">
        </div>
    </div>
</div>