<div id="home"></div>
<div>
    <!-- n8 -->
    <div class="header">
        <div class="container">
            <div class="image">
                <img src="http://imgur.com/rzuSV1U.png" alt="">
            </div>
            <nav class="header-nav">
                <a routerLink="./" fragment="home">HOME</a>
                <a routerLink="./" fragment="feature">FEATURE</a>
                <a routerLink="./" fragment="document">DOCUMENT</a>
                <a routerLink="./" fragment="contact">CONTACT</a>
            </nav>
        </div>

    </div>

    <!-- n1 -->
    <div class="full-main">
        <div class="full-contain">
            <div class="full-text">
                <h1>
                    Web Design
                </h1>
                <p>
                    This is a typography exercise site, and it uses native CSS
                </p>
            </div>
            <div class="mainside"></div>
        </div>
        <!-- n3 -->
        <p id="feature">FEATURE</p>
        <div class="card-wrap">

            <div class="card-item">
                <img src="https://picsum.photos/300/300?random=10">
                <div class="card-txt">
                    <h2>
                        Design Card 1
                    </h2>
                    <p>
                        card content for Design
                    </p>
                </div>

            </div>
            <div class="card-item">
                <img src="https://picsum.photos/300/300?random=20">
                <div class="card-txt">
                    <h2>
                        Design Card 2
                    </h2>
                    <p>
                        card content for Design, card content for Design, card content for Design, card content for
                        Design
                    </p>
                </div>
            </div>
            <div class="card-item">
                <img src="https://picsum.photos/300/300?random=30">
                <div class="card-txt">
                    <h2>
                        Design Card 3
                    </h2>
                    <p>
                        card content for Design, card content for Design, card content for Design, card content for
                        Design,card content for Design, card content for Design, card content for Design, card content
                        for Design,card content for Design, card content for Design, card content for Design, card
                        content for Design
                    </p>
                </div>
            </div>
        </div>

    </div>

    <!-- n5 -->
    <div id="document">DOCUMENT</div>

    <div class="side-wrap">
        <div class="side-container">
            <div class="side-item">
                <div class="side-pic">
                    <img src="https://picsum.photos/600/300?random=10">
                </div>
                <div class="side-text">
                    <h2>Design Idea 1</h2>
                    <p>
                        Idea content for Design
                    </p>
                    <a href="" class="side-btn">more</a>
                </div>
            </div>


            <div class="side-item">
                <div class="side-pic">
                    <img src="https://picsum.photos/600/300?random=20">
                </div>
                <div class="side-text">
                    <h2>Design Idea 2</h2>
                    <p>
                        Idea content for Design
                    </p>
                    <a href="" class="side-btn">more</a>

                </div>
            </div>


            <div class="side-item">
                <div class="side-pic">
                    <img src="https://picsum.photos/600/300?random=30">
                </div>
                <div class="side-text">
                    <h2>Design Idea 3</h2>
                    <p>
                        Idea content for Design
                    </p>
                    <a href="" class="side-btn">more</a>

                </div>
            </div>
        </div>
    </div>
    <!-- n10 -->
    <div class="block-wrap">
        <div class="block-item">
            <div class="block-image">
                <img src="https://picsum.photos/500/500?random=10">
            </div>
            <div class="block-txt">
                <h2>Title</h2>
                <p>Content
                </p>
            </div>
        </div>
        <div class="block-item">
            <div class="block-image">
                <img src="https://picsum.photos/500/500?random=20">
            </div>
            <div class="block-txt">
                <h2>Title</h2>
                <p>Content
                </p>
            </div>
        </div>

    </div>

    <!-- n6 -->
    <div class="footer">

        <div class="footer-bottom">
            <div class="copyright">
                Copyright &copy;2022 金魚都懂得這個網頁畫面怎麼切
            </div>
        </div>

    </div>

</div>