#home{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-family: 'Raleway','微軟正黑體', sans-serif;
}
/* N8 */

.header {
    background: linear-gradient(90deg, #4bbdee, #48bced,#40afe4);
    max-height: 1200px;
    font-family: 'Raleway','微軟正黑體', sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}




.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 35px;

}

.image{
    flex: 0 0 33%;
}

.image img {
    height: 100%;
}

.header-nav{
    flex: 0 0 66%;
}

.header-nav a {
    color: #fff;
    padding: 20px;
    text-decoration:none
}


.header-nav a:hover {
    color:#ccc;
}

/*  */

/* N1 */
.full-main{
    height: 900px;
    width: 100%;
    background-image: url("../../../assets/main.png");
    padding-bottom: 50%;
    padding-top: 50px;
    background-repeat :no-repeat;
    font-family: 'Raleway','微軟正黑體', sans-serif;

  }
  
  .full-contain{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    
  }

  .full-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: aliceblue;
  }

  .full-contain h1{
    font-size: 56px;
  }

  .full-contain h1 p{
    border-bottom: solid;
  }

  .mainside{
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/mainside.png");
    background-repeat :no-repeat;
    background-position: center;
    flex: 0 0 50%;

  }
  
  /*  */

  #feature{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-family: 'Raleway','微軟正黑體', sans-serif;
  }
  
  /* N3 */
  .card-wrap{
    width: 1200px;
    display: flex;
    align-items: flex-start;
    margin: auto;
}

.card-wrap .card-item {
    width: 100%;
    text-align: center;
    padding-top: 12px;
    /* margin-top: 24px; */
    margin: 30px;
    transition: .5s;
    color: rgb(202, 153, 62);
    background-color: rgb(243, 244, 245);
}

.card-wrap .card-item:hover {
    transform: translateY(-100px);
    background-color: rgb(223, 150, 54);
    color: black;    
}

.card-item .card-txt{
    position: relative;
}

.card-item .card-txt::before{
    content: "";
    width: 0;
    height: 0;
    left: 0;
    top:0;
    position: absolute;
    transform: translateY(-75px);
    border-top: 50px solid transparent;
    border-left: 170px solid #fff;
    border-right: 170px solid #fff;
    transition: .5s;
}

.card-item .card-txt h2{
    border-bottom: 1px solid #ccc;
}

.card-item:hover .card-txt::before{
    border-left: 170px solid rgb(223, 150, 54);
    border-right: 170px solid rgb(223, 150, 54);
}

/*  */
#document{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 56px;
    font-family: 'Raleway','微軟正黑體', sans-serif;
  }
  
/* n5 */

.side-wrap {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side-container{
    height: 370px;
    display: flex;
    justify-content:space-around;
}



.side-item {
    background: #fff;
    width: 368px;
    height: 100%;
    margin: 0 15px;
    display: flex;
    border: 0 1px #fe8556;
    box-sizing: border-box;
    box-shadow: 0 10px 20px #0c0b0b;
}

.side-pic {
    height: 100%;
    width: 50%;
}

.side-pic img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.side-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-btn {
    line-height: 1.5em;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 2px;
    align-self: flex-end;
}
/*  */
/* n10 */
.block-wrap {
    width: 100%;
    display: flex;
}

.block-image {
    width: 100%;
}

.block-image img {
    width: 100%;
    height: 100%;
}

.block-item {
    position: relative;
    /* float: left; */
}

.block-item:first-child {
    width: 50%;
}

.block-item:first-child~.block-item {
    width: 50%;
}

.block-item .block-txt {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    line-height: 1.6em;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: .5s;
}

.block-item:hover .block-txt {
    opacity: 1;
    transform: scale(1);
    background-color: rgba(0, 0, 0, .6);
}

/*  */
/* n6 */
.footer {
    width: 100%;
    height: 100%;
    /* padding: 150px 0 0; */
    background: linear-gradient(0deg, #0e0f10, #4d5856);
}

.footer .footer-container {
    display: flex;
    width: 1200px;
    margin: auto;
    color: #fff;
}

.footer-item {
    width: 0;
    flex-grow: 1;
    margin: 0 20px;
}

.footer-item .submenu {
    height: 100%;
    display: flex;
    align-items: center;
}

.footer-bottom {
    background: linear-gradient(0deg, #0e0f10, #4d5856);

    /* background-color: #3e5293; */
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

.submenu input[type=submit] {
    background-color: #3f5494;
    color: #fff;
    border: none;
}

.footer-item nav {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.footer-item h2 {
    border-bottom: 1px dotted #fff;
}

.footer-item nav a {
    padding: 3px 0;
    color: #fff;
}

/*  */