*{
    list-style: none;
}

.full{
    background: linear-gradient(90deg,#4bacca,#365aa8);
}

.wrap{
    padding: 10px 0;
    background-color: #ccc;
}

.breadcumb{
    width: 90%;
    margin: auto;
    display: flex; 
}

.breadcumb li{
    padding: 0 15px;
}

.breadcumb li+li::before{
    content: ">";
    padding-right: 15px;
}

.breadcumb li:nth-child(5) a {
    color: #7e8338;
}