<div class="wrap">
  <div class="login">
    <div class="info">
      <h2>登入</h2>
    </div>
    <div class="form">
      <form [formGroup]="myForm" (ngSubmit)="onSubmit($event)">
        <label for="user_id">帳號:</label>
        <input id="user_id" formControlName="name">
        <label for="user_password">密碼:</label>
        <input id="user_password" formControlName="password" (keydown)="onkeydown($event)">
      </form>
    </div>

    <div class="btn">
      <button (click)="onOk()">確定</button>
      <button>取消</button>
    </div>
  </div>

</div>