.header {
    background: linear-gradient(0deg, #fe70d8, #3713c1);
    max-height: 1200px;
}

.header .container {
    display: flex;
    padding: 20px;
    margin: auto;
}

.header .container nav a {
    padding: 20px 2em;
    color: #fff;
    text-decoration: none;
}

.header .container nav a:after {
    content: '';
    border-bottom: 1px solid #ccc;
    position: absolute;
    left: 50%;
    right: 50%;
}

.header .container nav a:hover:after {
    content: '';
    left: 0%;
    right: 0%;
}

.header .container form {
    margin: auto;
}
