.header {
    background: linear-gradient(0deg, #fe70d8, #3713c1);
    max-height: 1200px;
}

.header .container {
    display: flex;
    padding: 20px;
    margin: auto;
}

.header .container nav a {
    padding: 20px 2em;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: .3s;
    transform: translateY(0px);
}

.header .container nav a:hover {
    transform: translateY(-15px);
}

.header .container nav a:after {
    content: '';
    border-bottom: 1px solid #ccc;
    position: absolute;
    bottom: 10px;
    left: 50%;
    right: 50%;
    height: 0;
    transition: .3s;
}

.header .container nav a:hover:after {
    left: 0;
    right: 0;
}

.header .container form {
    margin: auto;
}

.header .container form input {
    border-radius: 200px 0px 0px 200px;
}

.header .container form input:focus {
    outline: none;
}
