<div class="full">
    <nav class="nav">
        <ul>
            <li><a routerLink="/cssn1" routerLinkActive="active">NO.1</a></li>
            <li><a routerLink="/cssn2" routerLinkActive="active">NO.2</a></li>
            <li><a routerLink="/cssn3" routerLinkActive="active">NO.3</a></li>
            <li><a routerLink="/cssn4" routerLinkActive="active">NO.4</a></li>
            <li><a routerLink="/cssn5" routerLinkActive="active">NO.5</a></li>
            <li><a routerLink="/cssn6" routerLinkActive="active">NO.6</a></li>
            <li><a routerLink="/cssn7" routerLinkActive="active">NO.7</a></li>
            <li><a routerLink="/cssn8" routerLinkActive="active">NO.8</a></li>
            <li><a routerLink="/cssn9" routerLinkActive="active">NO.9</a></li>
            <li><a routerLink="/cssn10" routerLinkActive="active">NO.10</a></li>
            <li><a routerLink="/cssn11" routerLinkActive="active">NO.11</a></li>
            <li><a routerLink="/cssn13" routerLinkActive="active">NO.13</a></li>
            <li><a routerLink="/cssn14" routerLinkActive="active">NO.14</a></li>
            <li><a routerLink="/cssn15" routerLinkActive="active">NO.15</a></li>

            <li><a routerLink="/cssn17" routerLinkActive="active">NO.17</a></li>

        </ul>
    </nav>
    <router-outlet></router-outlet>
</div>
