<div class="footer">
    <div class="container">
        <div class="item">
            <h2>
                關於暴力課程
            </h2>
            <nav>
                <a href="">課程目標</a>
                <a href="">辦學理念</a>
                <a href="">課程宗旨</a>

            </nav>
        </div>
        <div class="item">
            <h2>
                課程列表
            </h2>
            <nav>
                <a href="">課程目標</a>
                <a href="">課程目標</a>
                <a href="">課程目標</a>
                <a href="">課程目標</a>
            </nav>
        </div>
        <div class="item">
            <h2>
                服務項目
            </h2>
            <nav>
                <a href="">課程目標</a>
                <a href="">課程目標</a>
                <a href="">課程目標</a>
                <a href="">課程目標</a>
            </nav>
        </div>
        <div class="item">
            <h2>
                訂閱電子報
            </h2>
            <div class="submenu">
                <form>
                    <input type="text" name="">
                    <input type="submit" value="訂閱">
                </form>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="copyright">
            Copyright &copy;2022 金魚都懂得這個網頁畫面怎麼切
        </div>
    </div>

</div>
