<div class="wrap">
    <div class="item">
        <div class="image">
            <img src="https://picsum.photos/500/500?random=10">
        </div>
        <div class="txt">
            <h2>金魚頁面</h2>
            <p>網頁教學如此淺顯易懂，就是金魚都能懂的網頁設計入門啦 方塊酥版面依舊算是目前常見的一種版面編排
            </p>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="https://picsum.photos/500/500?random=20">
        </div>
        <div class="txt">
            <h2>金魚頁面</h2>
            <p>網頁教學如此淺顯易懂，就是金魚都能懂的網頁設計入門啦 方塊酥版面依舊算是目前常見的一種版面編排
            </p>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="https://picsum.photos/500/500?random=30">
        </div>
        <div class="txt">
            <h2>金魚頁面</h2>
            <p>網頁教學如此淺顯易懂，就是金魚都能懂的網頁設計入門啦 方塊酥版面依舊算是目前常見的一種版面編排
            </p>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="https://picsum.photos/500/500?random=40">
        </div>
        <div class="txt">
            <h2>金魚頁面</h2>
            <p>網頁教學如此淺顯易懂，就是金魚都能懂的網頁設計入門啦 方塊酥版面依舊算是目前常見的一種版面編排
            </p>
        </div>
    </div>
    <div class="item">
        <div class="image">
            <img src="https://picsum.photos/500/500?random=50">
        </div>
        <div class="txt">
            <h2>金魚頁面</h2>
            <p>網頁教學如此淺顯易懂，就是金魚都能懂的網頁設計入門啦 方塊酥版面依舊算是目前常見的一種版面編排
            </p>
        </div>
    </div>
</div>
