<div class="wrap">
    <input type="checkbox" id="menu-switch">

    <div class="sidemenu">
        <form>
            <input type="search">
            <fa-icon [icon]="faCoffee"></fa-icon>
        </form>

        <nav>
            <a href="">
                <fa-icon [icon]="faCoffee"></fa-icon>
                鐵人賽
            </a>
            <a href="">
                <fa-icon [icon]="faCoffee"></fa-icon>
                暴力班
            </a>
            <a href="">
                <fa-icon [icon]="faCoffee"></fa-icon>
                RWD</a>
            <a href="">
                <fa-icon [icon]="faCoffee"></fa-icon>
                金魚網頁</a>
            <a href="">
                <fa-icon [icon]="faCoffee"></fa-icon>
                金魚切版</a>
        </nav>
        <label for="menu-switch">
          >
        </label>
    </div>
</div>
