<div class="main">
    <div class="contain">
            <img src="https://picsum.photos/500/500">
            <div class="text">
                <h2>
                    金魚都能懂得這個網頁畫面怎麼切:
                    互動圖文卡片
                </h2>
                <p>
                    互動圖片卡片是我們午夜中經常見到的另一種稀飯版，不會切你就遜掉了喔
                </p>
            </div>
    </div>
    <div class="contain">
        <img src="https://picsum.photos/500/500">
        <div class="text">
            <h2>
                金魚都能懂得這個網頁畫面怎麼切:
                互動圖文卡片
            </h2>
            <p>
                互動圖片卡片是我們午夜中經常見到的另一種稀飯版，不會切你就遜掉了喔
            </p>
        </div>
</div>
<div class="contain">
    <img src="https://picsum.photos/500/500">
    <div class="text">
        <h2>
            金魚都能懂得這個網頁畫面怎麼切:
            互動圖文卡片
        </h2>
        <p>
            互動圖片卡片是我們午夜中經常見到的另一種稀飯版，不會切你就遜掉了喔
        </p>
    </div>
</div>
<div class="contain">
    <img src="https://picsum.photos/500/500">
    <div class="text">
        <h2>
            金魚都能懂得這個網頁畫面怎麼切:
            互動圖文卡片
        </h2>
        <p>
            互動圖片卡片是我們午夜中經常見到的另一種稀飯版，不會切你就遜掉了喔
        </p>
    </div>
</div>
</div>

